a{
    text-decoration: none;
    color: #3700ff;
}
.hotel-details {
    display: flex;
    flex-direction: column; /* აქ შეცვალე 1fr -> column */
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* auto მარჯვენა-მარცხენა ცენტრში მოსაყვანად */
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 5cap; /* აქ აძლევ მაქსიმალურ სიგანეს */
    width: 100%; /* აქ ვუთითებთ რომ 100%-მდე გაიზარდოს მაგრამ არ გადააჭარბოს max-width-ს */
  }
  