.hotel-details {
    background: var(--color-surface);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;  
    display: flex;  
  }
  
  
  .hotel-details img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .hotel-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .hotel-details p {
    color: var(--text-secondary);
    margin-bottom: 20px;
  }
  
  .hotel-details .booking {
    display: inline-block;
    background: var(--color-primary);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .hotel-details .booking:hover {
    background: var(--color-secondary);
  }

  .box{
    width: 50%;
  }

  @media screen and (max-width: 768px) {
   
    .hotel-details{
      flex-direction: column; 
      gap: 10px;
    }
    .hotel-details img {
      width: 100%;
      order: -1;
    }
  }